	<div id="top"></div>

	<header class="mainhead">
		<div class="container">
			
			<div class="mainhead--inner">
				<div class="social social__top">
					<ul class="social--list">
						<li><a href="//twitter.com/thewellspoint" class="social--link tooltip--bottom" data-tooltip="Follow me on Twitter" target="_blank"><span class="fa fa-twitter-square" aria-hidden="true"></span></a></li>
						<li><a href="//www.facebook.com/thewellspoint" class="social--link tooltip--bottom" data-tooltip="Like me on Facebook" target="_blank"><span class="fa fa-facebook-square" aria-hidden="true"></span></a></li>
						<li><a href="//thewellspoint.tumblr.com" class="social--link tooltip--bottom" data-tooltip="Follow me on Tumblr" target="_blank"><span class="fa fa-tumblr-square" aria-hidden="true"></span></a></li>
						<li><a href="//instagram.com/thewellspoint" class="social--link tooltip--bottom" data-tooltip="Follow me on Instagram" target="_blank"><span class="fa fa-instagram" aria-hidden="true"></span></a></li>
						<li><a href="//vimeo.com/thewellspoint" class="social--link tooltip--bottom" data-tooltip="Watch me on Vimeo" target="_blank"><span class="fa fa-vimeo-square" aria-hidden="true"></span></a></li>
						<li><a href="//itunes.apple.com/us/podcast/the-wells-point/id303950605" class="social--link tooltip--bottom" data-tooltip="Listen to Podcasts" target="_blank"><span class="fa fa-headphones" aria-hidden="true"></span></a></li>
						<li><a href="#" class="social--link tooltip--bottom" data-tooltip="Subscribe via RSS" target="_blank"><span class="fa fa-rss-square" aria-hidden="true"></span></a></li>
					</ul>
				</div>
				
				<nav class="mainnav mainnav__top">
					<ul class="mainnav--list">
						<li><a href="#" class="mainnav--link mainnav--link__disabled">Portfolio</a></li>
						<li><a href="#" class="mainnav--link">Classes</a></li>
						<li><a href="#" class="mainnav--link">Blog</a></li>
						<li><a href="#" class="mainnav--link">About</a></li>
						<li><a href="#" class="mainnav--link">Contact</a></li>
						<li>
							<span class="mainnav--sub--trigger">More <span class="fa fa-caret-down" aria-hidden="true"></span></span>
							<ul class="mainnav--sub">
								<li><a href="#" class="mainnav--link mainnav--link__disabled">Portfolio</a></li>
								<li><a href="#" class="mainnav--link">Classes</a></li>
								<li><a href="#" class="mainnav--link">Blog</a></li>
								<li><a href="#" class="mainnav--link">About</a></li>
								<li><a href="#" class="mainnav--link">Contact</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
			
			<div class="brand">
				<a href="." class="brand--link">
					<span class="brand--logo">David H. Wells</span>
					<span class="brand--tagline">Narrative Visuals</span>
				</a>
			</div>
			
		</div>
	</header>
