@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* ! ===== Bourbon and Neat Configuration ===== */
/* ! ===== Mixins to support pulling out type sizes at breakpoints ===== */
/* ! ===== Examples ===== 
	
// ! @mixin all-type-sizes() – Output all elements for one breakpoint
@media (min-width: bp(medium) ) {
	@include all-type-sizes(medium); 
}

Outputs: 
@media (min-width: 60em) {
  h1 {
    font-size: 1.6875rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3125rem;
  }
  h4 {
    font-size: 1.1875rem;
  }
  p {
    font-size: 1.0625rem;
  }
}


// ! @mixin one-element-size() – Output one specific element for all breakpoints
.alpha { @include one-element-size(h1); }

Outputs: 
.alpha { font-size: 1.5rem; }

@media (min-width: 61.25em) {
	.alpha { font-size: 1.6875rem; }
}

@media (min-width: 75em) {
	.alpha { font-size: 2.25rem; }
}


// ! @function rwd-size() — Output one size for one element
.bravo { font-size: rem( rwd-size(h2,large) ); }

Outputs: 
.bravo { font-size: 1.5rem; }

*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote {
  quotes: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px; }

body,
button,
input,
select,
textarea {
  color: #bbb;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: normal;
  line-height: 1.5; }

a {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #f2f2f2;
  text-decoration: none; }
  .no-js a:hover, .no-js a:focus, .js.no-touch a:hover, .js.no-touch a:focus, .js.touch a:active {
    color: #60a0a5;
    text-decoration: none; }
  a[href^=tel] {
    border-bottom: 1px dotted #60a0a5;
    color: inherit;
    text-decoration: none; }

.giga {
  font-size: 43px;
  font-size: 2.6875rem; }
  @media (min-width: 62.5em) {
    .giga {
      font-size: 61px;
      font-size: 3.8125rem; } }
  @media (min-width: 85em) {
    .giga {
      font-size: 77px;
      font-size: 4.8125rem; } }

.mega, .content--title {
  font-size: 37px;
  font-size: 2.3125rem; }
  @media (min-width: 62.5em) {
    .mega, .content--title {
      font-size: 50px;
      font-size: 3.125rem; } }
  @media (min-width: 85em) {
    .mega, .content--title {
      font-size: 62px;
      font-size: 3.875rem; } }

.kilo {
  font-size: 32px;
  font-size: 2rem; }
  @media (min-width: 62.5em) {
    .kilo {
      font-size: 41px;
      font-size: 2.5625rem; } }
  @media (min-width: 85em) {
    .kilo {
      font-size: 50px;
      font-size: 3.125rem; } }

h5,
.echo, h6,
.foxtrot, .brand--tagline,
p,
li,
dt,
dd,
address,
input,
button,
select,
textarea {
  font-size: 16px;
  font-size: 1rem; }
  @media (min-width: 62.5em) {
    h5,
    .echo, h6,
    .foxtrot, .brand--tagline,
    p,
    li,
    dt,
    dd,
    address,
    input,
    button,
    select,
    textarea {
      font-size: 16px;
      font-size: 1rem; } }
  @media (min-width: 85em) {
    h5,
    .echo, h6,
    .foxtrot, .brand--tagline,
    p,
    li,
    dt,
    dd,
    address,
    input,
    button,
    select,
    textarea {
      font-size: 17px;
      font-size: 1.0625rem; } }

.micro {
  font-size: 13px;
  font-size: 0.8125rem; }
  @media (min-width: 62.5em) {
    .micro {
      font-size: 13px;
      font-size: 0.8125rem; } }
  @media (min-width: 85em) {
    .micro {
      font-size: 13px;
      font-size: 0.8125rem; } }

h1, .alpha,
h2, .bravo,
h3, .charlie,
h4, .delta,
h5, .echo,
h6, .foxtrot {
  color: #4b5055;
  clear: both; }

h1,
.alpha {
  font-size: 28px;
  font-size: 1.75rem; }
  @media (min-width: 62.5em) {
    h1,
    .alpha {
      font-size: 34px;
      font-size: 2.125rem; } }
  @media (min-width: 85em) {
    h1,
    .alpha {
      font-size: 40px;
      font-size: 2.5rem; } }

h2,
.bravo {
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem; }
  @media (min-width: 62.5em) {
    h2,
    .bravo {
      font-size: 28px;
      font-size: 1.75rem; } }
  @media (min-width: 85em) {
    h2,
    .bravo {
      font-size: 32px;
      font-size: 2rem; } }

h3,
.charlie {
  font-size: 21px;
  font-size: 1.3125rem; }
  @media (min-width: 62.5em) {
    h3,
    .charlie {
      font-size: 23px;
      font-size: 1.4375rem; } }
  @media (min-width: 85em) {
    h3,
    .charlie {
      font-size: 26px;
      font-size: 1.625rem; } }

h4,
.delta {
  font-size: 18px;
  font-size: 1.125rem; }
  @media (min-width: 62.5em) {
    h4,
    .delta {
      font-size: 19px;
      font-size: 1.1875rem; } }
  @media (min-width: 85em) {
    h4,
    .delta {
      font-size: 21px;
      font-size: 1.3125rem; } }

h5,
.echo {
  font-weight: 700;
  letter-spacing: .03125em;
  text-transform: uppercase; }

h6,
.foxtrot {
  font-weight: 700; }

small {
  font-size: 13px;
  font-size: 0.8125rem; }
  @media (min-width: 62.5em) {
    small {
      font-size: 13px;
      font-size: 0.8125rem; } }
  @media (min-width: 85em) {
    small {
      font-size: 13px;
      font-size: 0.8125rem; } }

p,
ul,
ol,
dl,
address,
form,
table {
  margin-bottom: 1.5em; }

blockquote {
  position: relative; }
  blockquote p {
    color: #868a8d;
    font-style: italic;
    padding-left: 2em; }
  blockquote p:before,
  blockquote p:last-child:after {
    color: #60a0a5;
    font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
    line-height: 1; }
  blockquote p:before {
    content: "“";
    position: absolute;
    top: 0;
    left: .0625em; }
  blockquote p:last-child:after {
    display: inline;
    content: "”";
    line-height: 0;
    vertical-align: text-bottom;
    margin-left: .125em; }

address {
  font-style: italic; }

hr {
  border: none;
  border-top: 1px solid #dfdfdf;
  line-height: 1;
  height: 0px;
  margin: 1.5em 0;
  width: 100%; }

ul,
ol {
  margin-left: 3em; }

ul {
  list-style: square; }

ul ul {
  list-style: disc; }

ul ul ul {
  list-style: circle; }

ol {
  list-style: decimal; }

ol ol {
  list-style: upper-alpha; }

ol ol ol {
  list-style: upper-roman; }

ol ol ol ol {
  list-style: lower-alpha; }

ol ol ol ol ol {
  list-style: lower-roman; }

dl {
  border-top: 1px solid #dfdfdf; }

dt,
dd {
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  padding: .75em 1em .5625em; }

dt {
  border-bottom: 1px solid #dfdfdf;
  font-weight: 700; }

dd {
  border-bottom: 2px solid #dfdfdf; }

figure {
  margin: 0; }

table {
  border-spacing: 0;
  width: 100%;
  border-collapse: collapse; }
  table th {
    border-bottom: 2px solid #dfdfdf;
    font-weight: 700;
    padding: 0.5em;
    text-align: left; }
  table td {
    padding: 0.5em;
    border-top: 1px solid #dfdfdf; }
  table caption {
    text-align: center; }
  table tbody tr:nth-of-type(odd) {
    background-color: #dfdfdf; }

strong, b,
em, i, cite,
small,
sup, sup {
  letter-spacing: .03125em; }

sub,
sup {
  font-size: 75%;
  line-height: 1;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

abbr[title],
cite,
dfn[title] {
  border-bottom: 1px dotted #60a0a5; }

abbr[title],
dfn[title] {
  cursor: help; }

abbr[title] {
  font-size: 75%;
  font-weight: 700;
  letter-spacing: 0.125em;
  text-transform: uppercase; }

b,
strong {
  font-weight: 700; }

i,
em,
cite {
  font-style: italic; }

var {
  color: #4b5055;
  display: inline-block;
  font-style: italic;
  padding: 0 .125em; }

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap !important;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }
  pre code {
    display: block;
    padding: 1.375em 1.25em 1.3125em;
    margin: 0;
    border-left: 5px solid #7da799;
    border-bottom: 1px solid #dfdfdf;
    border-radius: 0; }

code,
kbd,
samp,
mark,
ins {
  display: inline-block;
  line-height: 1.5;
  padding: .125em .25em 0; }

code,
kbd,
samp {
  background: #f2f2f2;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.1) inset;
  font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace; }

code {
  color: #7da799; }

mark {
  background-color: #ff9; }

strike,
s {
  color: #dfdfdf; }

del {
  color: #60a0a5; }

u {
  text-decoration: underline; }

ins {
  background-color: #dfdfdf;
  text-decoration: none; }

[lang="en-US"] q {
  display: inline; }
  [lang="en-US"] q:before {
    content: "“"; }
  [lang="en-US"] q:after {
    content: "”";
    white-space: nowrap; }
  [lang="en-US"] q > q:before {
    content: "‘"; }
  [lang="en-US"] q > q:after {
    content: "’"; }

.typography .example {
  position: relative;
  background-color: transparent;
  border: 1px solid #dfdfdf;
  padding: 1em 1.25em 1px;
  margin: -1em -1.25em -1px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2); }
.typography .example:before {
  content: 'EXAMPLE';
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  font-size: .75em;
  color: #fff;
  background-color: #60a0a5;
  padding: .4em .75em .3em; }
.typography .element-caption {
  display: block; }

.vertical-grid {
  background-image: url(http://basehold.it/i/31/cc0000);
  background-position: 0px 14px; }

/*
<header class="mainhead">
	<div class="container">
		[ ... ]
	</div>
</header>
<nav class="mainnav">
	<div class="container">
		[ ... ]
	</div>
</nav>

<section id="main" class="content">
	<div class="container">
		<header class="content--header">
			<h1 class="">Sample</h1>
		</header>
		<article class="content--main">
			[ ... ]
		</article>
	</div>
</section>

<footer class="mainfoot">
	<p class="mainfoot--copyright">©2016 Oomph, Inc.</p>
</footer>
*/
.container {
  padding: 0 1em;
  min-width: 20em;
  max-width: 71em;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

/*.mainhead,
.mainnav,
.content,
.mainfoot,
.container {
	border-width: 5px;
	border-style: solid;
	border-color: rgba(0,0,255,.33);
}

.mainnav { border-color: rgba(255,0,0,.33); }

.container { border-color: rgba(0,255,0,.33); }*/
a.button,
button.button,
input.button {
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: .5em;
  padding: 0.325em 1em 0.25em;
  -webkit-appearance: button;
  -moz-appearance: button;
  -ms-appearance: button;
  -o-appearance: button;
  appearance: button;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  transition: all 250ms ease; }

.button {
  background-color: #dfdfdf;
  border: none;
  color: #666;
  text-align: center; }
  .no-js .button:hover, .no-js .button:focus, .js.no-touch .button:hover, .js.no-touch .button:focus, .js.touch .button:active {
    background-color: #f2f2f2;
    color: #4b5055; }
  .button--primary {
    background: #60a0a5;
    color: #fff; }
    .no-js .button--primary:hover, .no-js .button--primary:focus, .js.no-touch .button--primary:hover, .js.no-touch .button--primary:focus, .js.touch .button--primary:active {
      background: #60a0a5;
      color: #fff; }
  .button--secondary {
    background: #f2f2f2;
    color: #60a0a5; }
    .no-js .button--secondary:hover, .no-js .button--secondary:focus, .js.no-touch .button--secondary:hover, .js.no-touch .button--secondary:focus, .js.touch .button--secondary:active {
      background: #60a0a5;
      color: #fff; }

/*<div class="card">
	<a href="#" class="card--link">
		<span class="card--overlay">
			<h2 class="card--title">Card Title</h2>
		</span>
		<span class="card--img-wrapper">
			<img class="card--img" src="{{ site.baseurl }}/files/466267222.jpg" alt="">
		</span>
	</a>
</div>*/
.card {
  margin-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em; }
  .card--grid {
    margin-left: -0.5em;
    margin-right: -0.5em; }
    .card--grid::after {
      clear: both;
      content: "";
      display: table; }
  .card--link, .card--overlay {
    display: block; }
  .card--link {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 0;
    padding-bottom: 75%; }
    .card--link .card--overlay {
      -webkit-transform: scale(1.25, 1.25);
      -moz-transform: scale(1.25, 1.25);
      -ms-transform: scale(1.25, 1.25);
      -o-transform: scale(1.25, 1.25);
      transform: scale(1.25, 1.25);
      -webkit-transition: all 250ms ease;
      -moz-transition: all 250ms ease;
      transition: all 250ms ease;
      -webkit-transform-origin: center;
      -moz-transform-origin: center;
      -ms-transform-origin: center;
      -o-transform-origin: center;
      transform-origin: center;
      opacity: 0; }
    .no-js .card--link:hover .card--overlay, .no-js .card--link:focus .card--overlay, .js.no-touch .card--link:hover .card--overlay, .js.no-touch .card--link:focus .card--overlay, .js.touch .card--link:active .card--overlay {
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
      opacity: 1; }
  .card--overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    min-width: 100% !important;
    min-height: 100% !important;
    background-color: rgba(96, 160, 165, 0.88);
    color: #fff;
    z-index: 3; }
  .card--title {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font-family: "Amatic SC", cursive;
    font-size: 2.25rem;
    font-size: 9vw;
    letter-spacing: .0625em;
    line-height: 1.125;
    margin: 0 !important;
    padding: 0 1em;
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%; }
  .card--img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    min-width: 100% !important;
    min-height: 100% !important;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    height: 100%;
    max-width: intrinsic;
    left: 50%; }
    .card--img--wrapper {
      display: block; }
  .card__trio .card {
    float: left;
    width: 50%; }
  .card__trio .card--title {
    font-size: 1.5rem;
    font-size: 6vw; }
  @media screen and (max-width: 40em) {
    .home .card__trio .card:nth-child(5) {
      width: 100%; }
      .home .card__trio .card:nth-child(5) .card--title {
        font-size: 2.25rem;
        font-size: 9vw; } }
  .card__video .card--link:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #bf9852;
    color: #fff;
    content: "\f008";
    font-size: 1.5rem;
    padding: .25em .5em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; }
  @media screen and (min-width: 640px) {
    .card__duo .card {
      float: left;
      width: 50%; }
    .card__duo .card--title {
      font-size: 6vw; }
    .card__trio .card {
      width: 33.33%; }
    .card__trio .card--title {
      font-size: 4vw; } }
  @media screen and (min-width: 1000px) {
    .card__duo .card--title {
      font-size: 3.875em; }
    .card__trio .card--title {
      font-size: 2.625em; } }

.content {
  border-top: 1px solid #42464b;
  padding: 1.5em 0; }
  .content--title {
    color: #60a0a5;
    margin-bottom: .75em; }
  .content--main h1 {
    margin-top: 1.9375em;
    margin-bottom: .5625em; }
  .content--main h2 {
    margin-top: 1.5em;
    margin-bottom: .875em; }
  .content--main h3 {
    margin-top: 2em;
    margin-bottom: 1.125em; }
  .content--main h4 {
    margin-top: -.1875em;
    margin-bottom: 1.375em; }
  .content--main h5 {
    margin-top: -.0625em; }
  .content--main h6 {
    margin-top: -.125em; }
  .content--main h2 + h3 {
    margin-top: 1.875em; }
  .content--main h3 + h4 {
    margin-top: -.125em; }
  .content--main p,
  .content--main dl,
  .content--main address,
  .content--main form,
  .content--main table {
    margin-bottom: 1.5em; }
  .content--main ul,
  .content--main ol {
    margin-bottom: 1.625em; }
    .content--main ul ul, .content--main ul ol,
    .content--main ol ul,
    .content--main ol ol {
      margin-left: 1.5em;
      margin-bottom: 0; }
  .content--main ul li {
    line-height: 1.5;
    padding-bottom: .25em; }
  .content--main dl dt,
  .content--main dl dd {
    line-height: 1.5; }

/*<footer class="mainfoot">
		<div class="container">
			<div class="social social__bottom">
				<ul class="social--list">
					<li><a href="//twitter.com/thewellspoint" class="social--link tooltip tooltip--bottom" data-tooltip="Follow me on Twitter" target="_blank"><span class="fa fa-twitter-square" aria-hidden="true"></span></a></li>
				</ul>
			</div>
			
			<nav class="mainnav mainnav__bottom">
				<ul class="mainnav--list">
					<li><a href="#" class="mainnav--link mainnav--link__disabled">Portfolio</a></li>
					<li><a href="#" class="mainnav--link">Classes</a></li>
					<li><a href="#" class="mainnav--link">Blog</a></li>
					<li><a href="#" class="mainnav--link">About</a></li>
					<li><a href="#" class="mainnav--link">Contact</a></li>
				</ul>
			</nav>
			
			<p class="mainfoot--copyright">
				<span>All photos copyright &copy;{{ 'now' | date: '%Y' }} David H. Wells</span> 
				<span>No images may be reproduced without </span> 
				<span>written consent of the artist</span>
			</p>
		</div>
	</footer>*/
.mainfoot--copyright {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #8a8e91;
  padding: .5em 0 1em;
  text-align: center; }
  @media (min-width: 62.5em) {
    .mainfoot--copyright {
      font-size: 13px;
      font-size: 0.8125rem; } }
  @media (min-width: 85em) {
    .mainfoot--copyright {
      font-size: 13px;
      font-size: 0.8125rem; } }
  .mainfoot--copyright span {
    display: block; }

fieldset {
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  margin-bottom: 1em;
  padding: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  color: #666;
  padding: 0.25em;
  width: 100%;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  transition: all 250ms ease; }
  input[type="color"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #bbb;
    font-style: italic; }
  input[type="color"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input:not([type])::-moz-placeholder, textarea::-moz-placeholder {
    color: #bbb;
    font-style: italic; }
  input[type="color"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="week"]:-moz-placeholder, input:not([type]):-moz-placeholder, textarea:-moz-placeholder {
    color: #bbb;
    font-style: italic; }
  input[type="color"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="month"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="time"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, input[type="week"]:-ms-input-placeholder, input:not([type]):-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #bbb;
    font-style: italic; }
  .no-js input[type="color"]:hover, .no-js input[type="color"]:focus, .js.no-touch input[type="color"]:hover, .js.no-touch input[type="color"]:focus, .js.touch input[type="color"]:active, .no-js input[type="date"]:hover, .no-js input[type="date"]:focus, .js.no-touch input[type="date"]:hover, .js.no-touch input[type="date"]:focus, .js.touch input[type="date"]:active, .no-js input[type="datetime"]:hover, .no-js input[type="datetime"]:focus, .js.no-touch input[type="datetime"]:hover, .js.no-touch input[type="datetime"]:focus, .js.touch input[type="datetime"]:active, .no-js input[type="datetime-local"]:hover, .no-js input[type="datetime-local"]:focus, .js.no-touch input[type="datetime-local"]:hover, .js.no-touch input[type="datetime-local"]:focus, .js.touch input[type="datetime-local"]:active, .no-js input[type="email"]:hover, .no-js input[type="email"]:focus, .js.no-touch input[type="email"]:hover, .js.no-touch input[type="email"]:focus, .js.touch input[type="email"]:active, .no-js input[type="month"]:hover, .no-js input[type="month"]:focus, .js.no-touch input[type="month"]:hover, .js.no-touch input[type="month"]:focus, .js.touch input[type="month"]:active, .no-js input[type="number"]:hover, .no-js input[type="number"]:focus, .js.no-touch input[type="number"]:hover, .js.no-touch input[type="number"]:focus, .js.touch input[type="number"]:active, .no-js input[type="password"]:hover, .no-js input[type="password"]:focus, .js.no-touch input[type="password"]:hover, .js.no-touch input[type="password"]:focus, .js.touch input[type="password"]:active, .no-js input[type="search"]:hover, .no-js input[type="search"]:focus, .js.no-touch input[type="search"]:hover, .js.no-touch input[type="search"]:focus, .js.touch input[type="search"]:active, .no-js input[type="tel"]:hover, .no-js input[type="tel"]:focus, .js.no-touch input[type="tel"]:hover, .js.no-touch input[type="tel"]:focus, .js.touch input[type="tel"]:active, .no-js input[type="text"]:hover, .no-js input[type="text"]:focus, .js.no-touch input[type="text"]:hover, .js.no-touch input[type="text"]:focus, .js.touch input[type="text"]:active, .no-js input[type="time"]:hover, .no-js input[type="time"]:focus, .js.no-touch input[type="time"]:hover, .js.no-touch input[type="time"]:focus, .js.touch input[type="time"]:active, .no-js input[type="url"]:hover, .no-js input[type="url"]:focus, .js.no-touch input[type="url"]:hover, .js.no-touch input[type="url"]:focus, .js.touch input[type="url"]:active, .no-js input[type="week"]:hover, .no-js input[type="week"]:focus, .js.no-touch input[type="week"]:hover, .js.no-touch input[type="week"]:focus, .js.touch input[type="week"]:active, .no-js input:not([type]):hover, .no-js input:not([type]):focus, .js.no-touch input:not([type]):hover, .js.no-touch input:not([type]):focus, .js.touch input:not([type]):active, .no-js textarea:hover, .no-js textarea:focus, .js.no-touch textarea:hover, .js.no-touch textarea:focus, .js.touch textarea:active {
    border-color: #a2a2a2;
    outline: none; }
  input[type="color"][required]:focus, input[type="color"][required=true]:focus, input[type="color"][required="required"]:focus, input[type="date"][required]:focus, input[type="date"][required=true]:focus, input[type="date"][required="required"]:focus, input[type="datetime"][required]:focus, input[type="datetime"][required=true]:focus, input[type="datetime"][required="required"]:focus, input[type="datetime-local"][required]:focus, input[type="datetime-local"][required=true]:focus, input[type="datetime-local"][required="required"]:focus, input[type="email"][required]:focus, input[type="email"][required=true]:focus, input[type="email"][required="required"]:focus, input[type="month"][required]:focus, input[type="month"][required=true]:focus, input[type="month"][required="required"]:focus, input[type="number"][required]:focus, input[type="number"][required=true]:focus, input[type="number"][required="required"]:focus, input[type="password"][required]:focus, input[type="password"][required=true]:focus, input[type="password"][required="required"]:focus, input[type="search"][required]:focus, input[type="search"][required=true]:focus, input[type="search"][required="required"]:focus, input[type="tel"][required]:focus, input[type="tel"][required=true]:focus, input[type="tel"][required="required"]:focus, input[type="text"][required]:focus, input[type="text"][required=true]:focus, input[type="text"][required="required"]:focus, input[type="time"][required]:focus, input[type="time"][required=true]:focus, input[type="time"][required="required"]:focus, input[type="url"][required]:focus, input[type="url"][required=true]:focus, input[type="url"][required="required"]:focus, input[type="week"][required]:focus, input[type="week"][required=true]:focus, input[type="week"][required="required"]:focus, input:not([type])[required]:focus, input:not([type])[required=true]:focus, input:not([type])[required="required"]:focus, textarea[required]:focus, textarea[required=true]:focus, textarea[required="required"]:focus {
    border-color: #60a0a5;
    box-shadow: 0 0 0.5em rgba(96, 160, 165, 0.5);
    outline: none; }

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus {
  border-color: #bbb;
  color: #666;
  outline: none; }

button[disabled],
.button.disabled,
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: not-allowed; }

textarea {
  overflow: auto;
  padding-left: 0.25em;
  vertical-align: top;
  width: 100%; }

select {
  background-color: #fff;
  background-image: none;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  color: #666;
  padding: 0.25em;
  width: 100%; }

input[type="file"] {
  line-height: 1; }

input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"] {
  -webkit-appearance: textfield; }

.form {
  /*<div class="form--singleline">
  	<button class="button button--primary">Go</button>
  	<span class="form--overflow"><input type="search" class="form--input" placeholder="Search the site&hellip;"></span>
  </div>*/
  /*<div class="form--position-wrap">
  	<input type="search" class="form--input" placeholder="Search the site…">
  	<button class="form--position--element"><span class="fa fa-search" aria-hidden="true"><span>Search</span></span></button>
  </div>*/ }
  .form::after {
    clear: both;
    content: "";
    display: table; }
  .form--singleline .button {
    float: right; }
  .form--singleline .form--overflow {
    display: block;
    padding-right: .5em;
    overflow: hidden; }
  .form--singleline .form--optional {
    float: left; }
  .form--singleline input {
    width: 100%; }
  .form--position-wrap {
    position: relative;
    z-index: 1; }
  .form--position--element {
    position: absolute;
    z-index: 2; }

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased; }

html,
body {
  background-color: #4b5055;
  height: 100%; }

img,
video,
object {
  display: block;
  height: auto;
  max-width: 100%; }

nav > ul,
nav > ol,
ul.menu,
ol.menu {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  nav > ul a,
  nav > ol a,
  ul.menu a,
  ol.menu a {
    display: block; }

[data-tooltip] {
  position: relative; }
  [data-tooltip]:hover:after, [data-tooltip]:hover:before, [data-tooltip]:focus:after, [data-tooltip]:focus:before {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 1;
    visibility: visible; }
  [data-tooltip]:after, [data-tooltip]:before {
    -webkit-transition-property: opacity transform;
    -moz-transition-property: opacity transform;
    transition-property: opacity transform;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    transition-delay: 250ms;
    -webkit-transform: translate(-50%, 12px);
    -moz-transform: translate(-50%, 12px);
    -ms-transform: translate(-50%, 12px);
    -o-transform: translate(-50%, 12px);
    transform: translate(-50%, 12px);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 50%;
    visibility: hidden; }
  [data-tooltip]:after {
    background-color: #bf9852;
    border-radius: 4px;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.25);
    color: #4b5055;
    content: attr(data-tooltip);
    font-size: .5em;
    line-height: 1;
    padding: .5em .75em;
    white-space: nowrap; }
  [data-tooltip]:before {
    border-color: transparent;
    border-style: solid;
    border-width: .25em;
    content: '';
    height: 0;
    width: 0; }

.tooltip--bottom:after {
  top: 100%; }
.tooltip--bottom:before {
  border-bottom-color: #bf9852;
  top: 100%;
  left: 50%;
  margin-top: -.5em; }
.tooltip--top:before {
  border-top-color: #bf9852; }

#size {
  background-color: #60a0a5;
  color: #fff;
  line-height: 1;
  padding: .25em;
  position: fixed;
  bottom: 10%;
  right: 0;
  z-index: 999; }

/*<header class="mainhead">
	<div class="container">
		<div class="mainhead--inner">
			<div class="social">
				<ul class="social--list">
					<li><a href="//twitter.com/thewellspoint" class="social--link" alt="Follow me on Twitter"><span class="fa fa-twitter-square" aria-hidden="true"></span></a></li>
				</ul>
			</div>
			<nav class="mainnav mainnav__top">
				<ul class="mainnav--list">
					<li><a href="#" class="mainnav--link mainnav--link__disabled">Portfolio</a></li>
				</ul>
			</nav>
		</div>
		<div class="brand"> [...] </div>
	</div>
</header>*/
.mainhead {
  border-bottom: 1px solid #393d40;
  color: #4b5055; }
  @media screen and (min-width: 640px) {
    .mainhead--inner {
      float: right; }
    .mainhead .social--list,
    .mainhead .mainnav--list {
      text-align: right; }
    .mainhead [data-tooltip]:hover:after, .mainhead [data-tooltip]:focus:after {
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0); }
    .mainhead [data-tooltip]:after {
      -webkit-transform: translate(0, 12px);
      -moz-transform: translate(0, 12px);
      -ms-transform: translate(0, 12px);
      -o-transform: translate(0, 12px);
      transform: translate(0, 12px);
      left: auto;
      right: 0; }
    .mainhead .brand {
      float: left;
      padding: 1em 0 0; }
      .mainhead .brand--tagline {
        font-size: 1rem;
        padding-top: .375em; } }

.social {
  padding: .75em 0 1em; }
  .social--list {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    text-align: center; }
    .social--list li {
      display: inline-block; }
  .social--link {
    color: #60a0a5;
    display: block;
    font-size: 1.5em;
    padding: 0 .25em; }
    .no-js .social--link:hover, .no-js .social--link:focus, .js.no-touch .social--link:hover, .js.no-touch .social--link:focus, .js.touch .social--link:active {
      color: #bf9852; }

/*<div class="brand">
	<a href="." class="brand--link">
		<span class="brand--logo">David H. Wells</span>
		<span class="brand--tagline">Narrative Visuals</span>
	</a>
</div>*/
.brand {
  padding: .25em 0 1em;
  text-align: center; }
  .brand--link {
    display: block; }
    .brand--link .brand--logo {
      color: #fff; }
    .brand--link .brand--tagline {
      color: #99b8a3; }
    .no-js .brand--link:hover .brand--logo, .no-js .brand--link:focus .brand--logo, .js.no-touch .brand--link:hover .brand--logo, .js.no-touch .brand--link:focus .brand--logo, .js.touch .brand--link:active .brand--logo {
      color: #99b8a3; }
    .no-js .brand--link:hover .brand--tagline, .no-js .brand--link:focus .brand--tagline, .js.no-touch .brand--link:hover .brand--tagline, .js.no-touch .brand--link:focus .brand--tagline, .js.touch .brand--link:active .brand--tagline {
      color: #fff; }
  .brand--logo, .brand--tagline {
    -webkit-transition: color 250ms ease;
    -moz-transition: color 250ms ease;
    transition: color 250ms ease;
    display: block;
    line-height: 1.25; }
  .brand--logo {
    font-family: "Amatic SC", cursive;
    font-size: 2.75rem; }
  .brand--tagline {
    font-size: 0.875rem;
    text-transform: lowercase; }

/*<nav class="mainnav">
	<ul class="mainnav--list">
		<li><a href="#" class="mainnav--link mainnav--link__disabled">Portfolio</a></li>
		<li><a href="#" class="mainnav--link">Classes</a></li>
		<li><a href="#" class="mainnav--link">Blog</a></li>
		<li><a href="#" class="mainnav--link">About</a></li>
		<li><a href="#" class="mainnav--link">Contact</a></li>
		<li>
			<span class="mainnav--sub--trigger">More <span class="fa fa-caret-down" aria-hidden="true"></span></span>
			<ul class="mainnav--sub">
				<li><a href="#" class="mainnav--link mainnav--link__disabled">Portfolio</a></li>
				<li><a href="#" class="mainnav--link">Classes</a></li>
				<li><a href="#" class="mainnav--link">Blog</a></li>
				<li><a href="#" class="mainnav--link">About</a></li>
				<li><a href="#" class="mainnav--link">Contact</a></li>
			</ul>
		</li>
	</ul>
</nav>*/
.mainnav {
  padding: .5em 0 .75em; }
  .mainnav--list {
    text-align: center; }
    .mainnav--list li {
      display: inline-block;
      overflow: visible;
      position: relative;
      z-index: 1; }
  .mainnav--link {
    color: #99b8a3;
    line-height: 1.25;
    padding: .25em .5em;
    text-transform: lowercase; }
    .no-js .mainnav--link:hover, .no-js .mainnav--link:focus, .js.no-touch .mainnav--link:hover, .js.no-touch .mainnav--link:focus, .js.touch .mainnav--link:active {
      color: #bf9852; }
    .no-js .mainnav--link__disabled, .no-js .mainnav--link__disabled:hover, .no-js .mainnav--link__disabled:focus, .js.no-touch .mainnav--link__disabled, .js.no-touch .mainnav--link__disabled:hover, .js.no-touch .mainnav--link__disabled:focus, .js.touch .mainnav--link__disabled, .js.touch .mainnav--link__disabled:active {
      color: #fff; }
  .mainnav--sub {
    -webkit-transition-property: opacity transform;
    -moz-transition-property: opacity transform;
    transition-property: opacity transform;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    transition-delay: 250ms;
    -webkit-transform: translate(-50%, 0.75em);
    -moz-transform: translate(-50%, 0.75em);
    -ms-transform: translate(-50%, 0.75em);
    -o-transform: translate(-50%, 0.75em);
    transform: translate(-50%, 0.75em);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    border-top: 1px solid #393d40;
    border-bottom: 1px solid #42464b;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.25);
    list-style: none;
    margin-left: 0;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    visibility: hidden;
    z-index: 2; }
    .mainnav--sub li {
      min-width: 100%; }
    .mainnav--sub--trigger {
      color: #bf9852;
      cursor: pointer;
      display: block;
      text-transform: lowercase; }
  .mainnav--list li:hover .mainnav--sub, .mainnav--list li:focus .mainnav--sub {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 1;
    visibility: visible; }
  .mainnav--sub .mainnav--link {
    background-color: #606569;
    padding: .375em 1em; }
  .mainnav--sub li:first-child .mainnav--link {
    padding-top: .625em; }
  .mainnav--sub li:last-child .mainnav--link {
    padding-bottom: .75em; }
  .mainnav__bottom .mainnav--list li {
    display: block; }
  @media screen and (max-width: 360px) {
    .mainnav__top .mainnav--list > li:nth-child(3), .mainnav__top .mainnav--list > li:nth-child(4), .mainnav__top .mainnav--list > li:nth-child(5), .mainnav__top .mainnav--sub > li:nth-child(1), .mainnav__top .mainnav--sub > li:nth-child(2) {
      display: none;
      visibility: hidden; } }
  @media screen and (min-width: 361px) and (max-width: 440px) {
    .mainnav__top .mainnav--list > li:nth-child(4), .mainnav__top .mainnav--list > li:nth-child(5), .mainnav__top .mainnav--sub > li:nth-child(1), .mainnav__top .mainnav--sub > li:nth-child(2), .mainnav__top .mainnav--sub > li:nth-child(3) {
      display: none;
      visibility: hidden; } }
  @media screen and (min-width: 441px) and (max-width: 479px) {
    .mainnav__top .mainnav--list > li:nth-child(5), .mainnav__top .mainnav--sub > li:nth-child(1), .mainnav__top .mainnav--sub > li:nth-child(2), .mainnav__top .mainnav--sub > li:nth-child(3), .mainnav__top .mainnav--sub > li:nth-child(4) {
      display: none;
      visibility: hidden; } }
  @media screen and (min-width: 480px) {
    .mainnav__top .mainnav--list > li:last-child {
      display: none;
      visibility: hidden; }
    .mainnav__bottom {
      padding: 1em 0 1.5em; }
    .mainnav__bottom .mainnav--list li {
      display: inline-block; } }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -ms-appearance: textfield;
  -o-appearance: textfield;
  appearance: textfield;
  box-sizing: content-box; }

/*# sourceMappingURL=styles.css.map */
