---
layout: default
---
	<!--<header class="content--header">
		<h1 class="content--title">{{ page.title }}</h1>
	</header>-->
	<article class="content--main">

		<div class="card--grid card__duo">
			<div class="card card__video">
				<a href="#" class="card--link">
					<span class="card--overlay">
						<h2 class="card--title">Card Title</h2>
					</span>
					<span class="card--img-wrapper">
						<img class="card--img" src="{{ site.baseurl }}/files/466267222.jpg" alt="">
					</span>
				</a>
			</div>
			<div class="card">
				<a href="#" class="card--link">
					<span class="card--overlay">
						<h2 class="card--title">Light & Color in India</h2>
					</span>
					<span class="card--img-wrapper">
						<img class="card--img" src="{{ site.baseurl }}/files/image7.jpg" alt="">
					</span>
				</a>
			</div>
		</div>
		
		<div class="card--grid card__trio">
			<div id="1" class="card card__video card__trio">
				<a href="#" class="card--link">
					<span class="card--overlay">
						<h2 class="card--title">Card Title</h2>
					</span>
					<span class="card--img-wrapper">
						<img class="card--img" src="{{ site.baseurl }}/files/438545924.jpg" alt="">
					</span>
				</a>
			</div>
			<div id="2" class="card">
				<a href="#" class="card--link">
					<span class="card--overlay">
						<h2 class="card--title">Light & Color in India</h2>
					</span>
					<span class="card--img-wrapper">
						<img class="card--img" src="{{ site.baseurl }}/files/image3.jpg" alt="">
					</span>
				</a>
			</div>
			<div id="3" class="card card__trio">
				<a href="#" class="card--link">
					<span class="card--overlay">
						<h2 class="card--title">Card Title</h2>
					</span>
					<span class="card--img-wrapper">
						<img class="card--img" src="{{ site.baseurl }}/files/image1.jpg" alt="">
					</span>
				</a>
			</div>
			<div id="4" class="card card__trio">
				<a href="#" class="card--link">
					<span class="card--overlay">
						<h2 class="card--title">Card Title</h2>
					</span>
					<span class="card--img-wrapper">
						<img class="card--img" src="{{ site.baseurl }}/files/image9.jpg" alt="">
					</span>
				</a>
			</div>
			<div id="5" class="card card__video card__trio">
				<a href="#" class="card--link">
					<span class="card--overlay">
						<h2 class="card--title">Card Title</h2>
					</span>
					<span class="card--img-wrapper">
						<img class="card--img" src="{{ site.baseurl }}/files/image10.jpg" alt="">
					</span>
				</a>
			</div>
			<div id="6" class="card card__trio">
				<a href="#" class="card--link">
					<span class="card--overlay">
						<h2 class="card--title">Card Title</h2>
					</span>
					<span class="card--img-wrapper">
						<img class="card--img" src="{{ site.baseurl }}/files/image15.jpg" alt="">
					</span>
				</a>
			</div>
			<div id="7" class="card card__trio">
				<a href="#" class="card--link">
					<span class="card--overlay">
						<h2 class="card--title">Card Title</h2>
					</span>
					<span class="card--img-wrapper">
						<img class="card--img" src="{{ site.baseurl }}/files/image19.jpg" alt="">
					</span>
				</a>
			</div>
			<div id="8" class="card card__trio">
				<a href="#" class="card--link">
					<span class="card--overlay">
						<h2 class="card--title">Globalization of India</h2>
					</span>
					<span class="card--img-wrapper">
						<img class="card--img" src="{{ site.baseurl }}/files/globalization%20of%20india.jpg" alt="">
					</span>
				</a>
			</div>
			<div id="9" class="card card__trio">
				<a href="#" class="card--link">
					<span class="card--overlay">
						<h2 class="card--title">Around the world in black and white</h2>
					</span>
					<span class="card--img-wrapper">
						<img class="card--img" src="{{ site.baseurl }}/files/around%20the%20world%20in%20bw.jpg" alt="">
					</span>
				</a>
			</div>
		</div>

		{{ content }}

	</article>